**/.env
**/venv
**/.venv
**/node_modules
**/__pycache__
**/artifacts
backend/recommender/serviceAccountKey.json
src/web/server/.env
src/backend/recommender/.env
src/backend/recommender/serviceAccountKey.json
