flask
flask-cors
gunicorn
torch --extra-index-url https://download.pytorch.org/whl/cpu
torchvision
faiss-cpu
python-dotenv
Pillow
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git
firebase-admin
google-cloud-storage
google-cloud-firestore
requests
numpy
