/* AllFurnitures.css */
.all-furnitures {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.filter {
  width: 20%;  /* Filter section takes 20% of the width */
  padding: 10px;  /* Adjust padding for tighter layout */
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Light shadow for separation */
}

.filter h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;  /* Adjust the space between title and filter options */
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
}

.filter h3 {
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 5px;  /* Reduce space under section titles */
  font-weight: 500;
  color: #333;
  padding-top: 10px;
  border-top: 2px solid #ddd;  /* Add border line above each section */
}

.filter label {
  font-size: 0.9rem;
  display: block;
  margin-bottom: 5px;  /* Reduced space between labels */
  color: #333;
}

.filter input {
  margin-right: 5px;  /* Ensure the checkbox aligns nicely with label */
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));  /* Product grid layout remains unchanged */
  gap: 25px;
  width: 75%;
}
.product-card {
  background-color: #ffffff; 
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  width: 260px;   
  height: 380px;  

}

.product-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 8px 0;
  margin-left: 10px; 
}

.product-price {
  font-size: 0.9rem;
  color: #6b4226;
  margin-left: 10px; 
}
.rating{
  margin: 8px 0;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 6px; 
}
.rating span {
  color: #f5a623; 
  font-size: 1rem;
}

.rating p {
  margin: 0; 
  font-size: 0.9rem;
  color: #555;
}